body {
    font-family: Arial, sans-serif;
    background-color: #ccccccc9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#results {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.result-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Ajuste para três caixas por linha */
    box-sizing: border-box;
}

.result-box h2 {
    margin-top: 0;
    color: #007bff;
}

.result-box ul {
    list-style-type: none;
    padding: 0;
}

.result-box li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.result-box li:last-child {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.signature {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #333;
}